<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet"/>
    
    <title>To Do List</title>

    <style>
        body{
            font-family: "pretendard";
        }
        .cursor-pointer{
            cursor: pointer;
        }
        #list1 .form-control {
            border-color: transparent;
        }

        #list1 .form-control:focus {
            border-color: transparent;
            box-shadow: none;
        }

        #list1 .select-input.form-control[readonly]:not([disabled]) {
            background-color: #fbfbfb;
        }
        .picker{
            border: none;
            margin-right: 20px;
        }
        .picker::-webkit-datetime-edit{
            display: none;
        }
        .picker::-webkit-calendar-picker-indicator{
            width: 20px;
            height: 20px;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Font_Awesome_5_solid_calendar-alt.svg/896px-Font_Awesome_5_solid_calendar-alt.svg.png");
            filter: invert(46%) sepia(47%) saturate(852%) hue-rotate(179deg) brightness(82%) contrast(92%);
        }   
        .picker::-webkit-calendar-picker-indicator:focus-visible{
            outline: none;
            outline-offset: none;
        }
    </style>
</head>
<body>
    <section class="vh-100 " style="background-color:#eff1f2;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card" id="list1" style="border-radius: .75rem; ">
                        <div class="card-body py-4 px-4 px-md-5">
                            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                                <i class="fas fa-check-square me-1"></i>
                                <u>김청우의 할 일 목록</u>
                            </p>
                            <div class="pb-2">
                                <div class="card">
                                    <div class="card-body py-3">
                                        <div class="d-flex flex-row align-items-center">
                                            <input type="text" class="form-control form-control-lg todo-title" id="exampleFormControlInput1" placeholder="할 일을 입력해주세요">
                                            <div class="pe-auto d-flex" data-mdb-toggle="tooltip" title="마감일 설정">
                                                <input class="picker due-date" type="date">
                                            </div>

                                            <div>
                                                <button id="add-button" type="button" class="btn btn-primary text-nowrap">추가하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <!-- 탭 목록 -->
                            <ul class="nav nav-tabs mb-4 pb-2" id="ex1" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="cursor-pointer nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#all-tab" role="tab" aria-controls="all-tab" aria-selected="false" tabindex="-1">전체</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="cursor-pointer nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#active-tab" role="tab" aria-controls="active-tab" aria-selected="true">진행중</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="cursor-pointer nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#completed-tab" role="tab" aria-controls="completed-tab" aria-selected="false" tabindex="-1">완료</a>
                                </li>
                            </ul>
                            <!-- 할 일 목록 -->
                            <div class="tab-content" id="ex1-content">
                                <!-- 전체 탭 -->
                                <div class="tab-pane fade show active" id="all-tab" role="tabpanel" aria-labelledby="ex1-tab-1">
                                    <% list.forEach(function(data) { %>
                                        <% if(data.title) { %>
                                            <ul class="list-group list-group-horizontal rounded-0">
                                                <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                                                    <div class="form-check">
                                                        <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked2" aria-label="..." />
                                                    </div>
                                                </li>
                                                <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                                    <p class="lead fw-normal mb-0"><%=data.title%></p>
                                                </li>
                                                <% if(data.dueDate) {%>
                                                    <li class="list-group-item px-3 py-1 d-flex align-items-center border-0 bg-transparent">
                                                        <div class="py-2 px-3 me-2 border border-warning rounded-3 d-flex align-items-center bg-light">
                                                            <p class="small mb-0">
                                                                <a data-mdb-toggle="tooltip" title="마감일">
                                                                    <i class="fas fa-hourglass-half me-2 text-warning"></i>
                                                                </a>
                                                            <%=data.dueDate%>
                                                            </p>
                                                        </div>
                                                    </li>
                                                <% } %>
                                                <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                                                    <div class="d-flex flex-row justify-content-end mb-1">
                                                        <a class="cursor-pointer text-info" data-mdb-toggle="tooltip" title="할 일 수정하기"><i class="fas fa-pencil-alt me-3"></i></a>
                                                        <a class="cursor-pointer text-danger" data-mdb-toggle="tooltip" title="할 일 삭제하기"><i class="fas fa-trash-alt"></i></a>
                                                    </div>
                                                    <div class="text-end text-muted">
                                                        <a class="cursor-pointer text-muted" data-mdb-toggle="tooltip" title="생성일">
                                                            <p class="small mb-0"><i class="fas fa-info-circle me-2"></i><%=data.createdAt%></p>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        <% } %>
                                     <%}); %> 
                                    
                                </div>
                                <!-- 진행중 탭 -->
                                <div class="tab-pane fade" id="active-tab" role="tabpanel" aria-labelledby="ex1-tab-2">

                                </div>
                                <!-- 완료 탭 -->
                                <div class="tab-pane fade" id="completed-tab" role="tabpanel" aria-labelledby="ex1-tab-3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
    <script>
        const submitButton = document.getElementById('add-button');
        const allTab = document.getElementById('ex1-tab-1');
        const activeTab = document.getElementById('ex1-tab-2');
        const completedTab = document.getElementById('ex1-tab-3');

        submitButton.addEventListener('click',()=>{
            const title = document.querySelector('.todo-title').value;
            const dueDate = document.querySelector('.due-date').value;
            const response = sendHttpRequest('POST', 'http://localhost:8080/post', {title:title, dueDate:dueDate}) 
        })

        allTab.addEventListener('click',()=>{
            const response = sendHttpRequest('GET', 'http://localhost:8080/post') 
        })

        activeTab.addEventListener('click',()=>{
            const response = sendHttpRequest('GET', 'http://localhost:8080/post?isCompleted=n') 
        })

        completedTab.addEventListener('click',()=>{
            const response = sendHttpRequest('GET', 'http://localhost:8080/post?isCompleted=y') 
        })


        async function sendHttpRequest(method, url = '', data = {}) {
            if (method === 'GET') {
                const response = await fetch(url);
                return response.json();
            }

            const response = await fetch(url, {
                method: method,
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                'Content-Type': 'application/json',
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data),
            });
        }

    </script>
</body>
</html>