<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">

    <title>To Do List</title>

    <style>
        body{
            font-family: "pretendard";
        }
        .cursor-pointer{
            cursor: pointer;
        }
        #list1 .form-control {
            border-color: transparent;
        }

        #list1 .form-control:focus {
            border-color: transparent;
            box-shadow: none;
        }

        #list1 .select-input.form-control[readonly]:not([disabled]) {
            background-color: #fbfbfb;
        }
    </style>
</head>
<body>
    <section class="vh-100 " style="background-color:#eff1f2;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card" id="list1" style="border-radius: .75rem; ">
                        <div class="card-body py-4 px-4 px-md-5">
                            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                                <i class="fas fa-check-square me-1"></i>
                                <u>김청우의 할 일 목록</u>
                            </p>
                            <div class="pb-2">
                                <div class="card">
                                    <div class="card-body py-3">
                                        <div class="d-flex flex-row align-items-center">
                                            <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="할 일을 입력해주세요">
                                            <input style="opacity: 0;" type="text" id="datepicker" name="datepicker" readonly>
                                            <label style="cursor: pointer;" for="datepicker">
                                                <div class="pe-auto" data-mdb-toggle="tooltip" title="마감일 설정"><i style="color:#3b71ca" class="fas fa-calendar-alt fa-lg me-3"></i></div>
                                            </label>
                                            
                                            <div>
                                                <button type="button" class="btn btn-primary text-nowrap">추가하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <!-- 탭 목록 -->
                            <ul class="nav nav-tabs mb-4 pb-2" id="ex1" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="cursor-pointer nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#all-tab" role="tab" aria-controls="all-tab" aria-selected="false" tabindex="-1">전체</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="cursor-pointer nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#active-tab" role="tab" aria-controls="active-tab" aria-selected="true">진행중</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="cursor-pointer nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#completed-tab" role="tab" aria-controls="completed-tab" aria-selected="false" tabindex="-1">완료</a>
                                </li>
                            </ul>
                            <!-- 할 일 목록 -->
                            <div class="tab-content" id="ex1-content">
                                <!-- 전체 탭 -->
                                <div class="tab-pane fade show active" id="all-tab" role="tabpanel" aria-labelledby="ex1-tab-1">
                                    <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
                                        <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                                            <div class="form-check">
                                                <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked1" aria-label="..." checked />
                                            </div>
                                        </li>
                                        <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                            <p class="lead fw-normal mb-0">블로그 포스팅</p>
                                        </li>
                                        <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                                            <div class="d-flex flex-row justify-content-end mb-1">
                                                <a class="cursor-pointer text-info" data-mdb-toggle="tooltip" title="할 일 수정하기"><i class="fas fa-pencil-alt me-3"></i></a>
                                                <a class="cursor-pointer text-danger" data-mdb-toggle="tooltip" title="할 일 삭제하기"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                            <div class="text-end text-muted">
                                                <a class="cursor-pointer text-muted" data-mdb-toggle="tooltip" title="생성일">
                                                    <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>2023년 7월 12일</p>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-horizontal rounded-0">
                                        <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                                            <div class="form-check">
                                                <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked2" aria-label="..." />
                                            </div>
                                        </li>
                                        <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                            <p class="lead fw-normal mb-0">치킨 먹기</p>
                                        </li>
                                        <li class="list-group-item px-3 py-1 d-flex align-items-center border-0 bg-transparent">
                                            <div class="py-2 px-3 me-2 border border-warning rounded-3 d-flex align-items-center bg-light">
                                                <p class="small mb-0">
                                                    <a data-mdb-toggle="tooltip" title="마감일">
                                                        <i class="fas fa-hourglass-half me-2 text-warning"></i>
                                                    </a>
                                                    2023년 7월 12일
                                                </p>
                                            </div>
                                        </li>
                                        <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                                            <div class="d-flex flex-row justify-content-end mb-1">
                                                <a class="cursor-pointer text-info" data-mdb-toggle="tooltip" title="할 일 수정하기"><i class="fas fa-pencil-alt me-3"></i></a>
                                                <a class="cursor-pointer text-danger" data-mdb-toggle="tooltip" title="할 일 삭제하기"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                            <div class="text-end text-muted">
                                                <a class="cursor-pointer text-muted" data-mdb-toggle="tooltip" title="생성일">
                                                    <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>2023년 7월 12일</p>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-horizontal rounded-0 mb-2">
                                        <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                                            <div class="form-check">
                                                <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked3" aria-label="..." />
                                            </div>
                                        </li>
                                        <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                            <p class="lead fw-normal mb-0 bg-light w-100 ms-n2 ps-2 py-1 rounded">프로젝트 회원가입 기능 만들기</p>
                                        </li>
                                        <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                                            <div class="d-flex flex-row justify-content-end mb-1">
                                                <a class="cursor-pointer text-danger" data-mdb-toggle="tooltip" title="할 일 삭제하기"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                            <div class="text-end text-muted">
                                                <a class="cursor-pointer text-muted" data-mdb-toggle="tooltip" title="생성일">
                                                    <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>2023년 7월 12일 </p>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 진행중 탭 -->
                                <div class="tab-pane fade" id="active-tab" role="tabpanel" aria-labelledby="ex1-tab-2">

                                </div>
                                <!-- 완료 탭 -->
                                <div class="tab-pane fade" id="completed-tab" role="tabpanel" aria-labelledby="ex1-tab-3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
    <script>
        $(function() {
            $("#datepicker").datepicker();
        });
    </script>
</body>
</html>